<?xml version="1.0" encoding="utf-8" ?>
<formHandlers>
	<formHandler alias="umbracoMemberLogin" assembly="umbraco.standardFormhandlers" type="validateLogin">
	</formHandler>
	<formHandler alias="umbracoMemberLogoff" assembly="umbraco.standardFormhandlers" type="memberLogoff">
	</formHandler>
	<formHandler alias="mailForm" assembly="umbraco.standardFormhandlers" type="formMail">
		<parameter alias="sender">robert@ragware.net</parameter>
		<parameter alias="body">Content</parameter>
		<parameter alias="subject">Subject</parameter>
		<parameter alias="debug">true</parameter>
		<parameter alias="server">mail.ragware.net</parameter>
	</formHandler>

</formHandlers>
