<?xml version="1.0"?>
<keys>
  <key name="$date$" type="date">dd-MMM-yyyy</key>
  <key name="$mydictionary$" type="dictionary" culture="en-US">mydictionary</key>
  <key name="$myotherdictionary$" type="dictionary" culture="da-DK">otherdictionary</key>
  <key name="$xpath$" type="xpath">/root/node[@id='1048']/data</key>
  <key name="$item$" type="item">1048,siteName</key>
  <key name="$static$" type="static">This is my static value used throughout my document types</key>
</keys>